<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thay đổi mật khẩu</title>

	
   	<div th:replace="~{User/Fragment/element :: head}"></div>
</head>
<body class="bg-gray position-relative " style="height: 100vh;">
    <div class="login-form p-2 rounded bg-light border shadow d-flex justify-content-center align-items-center flex-column position-absolute start-50 top-50 translate-middle">
        <a href="/index"><img src="/User/image/logo.png" height="50px"></a>
        <h4 class="fw-bold">TẠO MẬT KHẨU MỚI</h4 >
        <div class="container border-top border-2 pt-4">
            <form id="password-form" method="post" action="/change-password" onsubmit="showLoading()">
            <div class="d-flex justify-content-between mb-3">
            <span>Tạo mật khẩu mới</span> 
            <a class="btn btn-outline-secondary py-0"  id="togglePassword">
                        <i class="fa-solid fa-eye-slash" id="toggleIcon"></i>
                    </a>
            </div>
            
            <input name="username" th:value="${username}" hidden>
                <div class="form-floating mb-3 ">
                    <input type="password" class="form-control"  id="new-password" name="password" placeholder="password" required min="6">
                    <label for="floatingInput">Mật khẩu</label>
                  </div>
                  <div class="form-floating mb-3 ">
                    <input type="password" class="form-control" id="confirm-password" placeholder="password" required min="6">
                    <label for="floatingInput">Nhập lại mật khẩu</label>
                  </div>
                  <div id="error-message" class="px-2 mb-3  bg-grass-red text-light rounded"> </div>
                
                <button  id="submitButton" type="submit" class="btn btn-primary col-12">Tiếp tục <i class="fa-solid fa-right-to-bracket"></i></button>
              </form>
             </div>
    </div>  
    <script>
    
    document.getElementById('togglePassword').addEventListener('click', function() {
        ['new-password', 'confirm-password'].forEach(function(id) {
            const passwordField = document.getElementById(id);
            const toggleIcon = document.getElementById('toggleIcon');

            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
        });

        const toggleIcon = document.getElementById('toggleIcon');
        toggleIcon.classList.toggle('fa-eye');
        toggleIcon.classList.toggle('fa-eye-slash');
    });

    document.getElementById('password-form').addEventListener('submit', function(event){
    	var newPassword = document.getElementById('new-password').value;
    	var confirmPassword = document.getElementById('confirm-password').value;
    	
    	if(newPassword !== confirmPassword){
    		event.preventDefault();
    		document.getElementById('error-message').innerHTML  = '<i class="fa-solid fa-circle-exclamation"></i> Mật khẩu nhập lại không khớp!';
    		
    	}elseP
    	document.getElementById('error-message').innerHTML  = '';
    });
    
</script>
    <div th:replace="~{User/Fragment/element :: inform}"></div>
    <script src="/User/js/password.js"></script>
</body>
</html>