<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review maps</title>
   	<div th:replace="~{User/Fragment/element :: head}">
   	</div>
   	</head>
<body class="bg-gray " style="padding-top: 60px;">
    <div th:replace="~{User/Fragment/element :: header}"></div>
    
    <section class="container  ">
        <div class="content position-relative">
            <div class="position-absolute top-50 start-0 translate-middle-y d-flex flex-column align-items-center" style="z-index: 100;">
                <h5 class="bg-danger text-light rounded-pill fw-bold px-3 py-1 my-0">DỊCH VỤ REVIEW GOOGLE MAP</h5>
                <p class="content-detail  px-1 d-flex bg-glass rounded mt-2">Chúng tôi có một cộng đồng với lượng lớn thành viên người dùng thực, đa dạng IP, vị trí, lịch sử. để có thể liên tiếp thực hiện các công việc review đánh giá google maps cho doanh nghiệp của bạn.</p>
            </div>
            <img class="h-100 position-absolute end-0 " src="/User/image/Online-Review-cuate-1024x1024.png">
        </div>
        
    </section>

    <main class="container">

        <h5 class="text-dark px-3 fw-bold  text-center">TẠO ĐƠN REVIEW MAPS</h5>
        <div class=" mb-5 border border-2  border-secondary pt-0 shadow  rounded position-relative bg-light ">
    
            <form class=" m-3" action="/order" method="post">
                <div class="mb-3">
                  <label for="link" class="form-label">
                        <b class="fs-14">Bước 1: </b>
                        <span class="fs-14">Nhập link Google maps của bạn</span>
                  </label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="link" placeholder="https://google/maps/..." required name="mapsLink">
                </div>
                <div class="mb-3">
                  <label for="maps" class="form-label">
                    <b>Bước 2: </b>
                        <span class="fs-14">Mô tả dịch vụ maps bạn cung cấp</span>
                  </label>
                  <input type="text" class="form-control" id="maps" placeholder="Cửa hàng bán điện thoại iphone ở Hà Nội..." required name="description">
                </div>
                <div class="mb-3">
                    <label for="number" class="form-label">
                          <b class="fs-14">Bước 3: </b>
                          <span class="fs-14"> Nhập số lượng đánh giá 5* cần mua</span>
                    </label>
                    <input type="number" class="form-control " id="numberInput" aria-describedby="number" min="1" value="1" required name="quantity">
                  </div>

                  <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" required name="note"> </textarea>
                    <label for="floatingTextarea2">Ghi chú</label>
                  </div>

                  <div class="mb-3 d-flex justify-content-end">
                        <span class="fs-6 fw-bold  pe-1">Tổng tiền:</span>
                        <span class="fs-6 text-danger fw-bold" id="priceDisplay"></span>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-primary form-control ">Bước 4: Tạo tiến trình</button>
                  </div>
                
              </form>
        </div>


        <div class="mb-5 border border-2  border-secondary pt-4 shadow p-3 rounded position-relative bg-light ">
            <h6 class="text-center fw-bold fs-17 text-danger">Bảo hành review 1 tháng. Thời gian bảo hành được <span class="text-decoration-underline">tính từ ngày review đó hiển thị (Check trong phần lịch sử đánh giá)</span></h6>
            <p class="text-center fw-bold fs-14 text-danger mt-5">CẢNH BÁO LỪA ĐẢO DỊCH VỤ REVIEW MAPS</p>
            <b class="fs-14">Bên mảng dịch vụ review maps này có một số kiểu lừa đảo các bạn cần lưu ý khi chọn:</b>
            <ul class="fs-14 mt-2 fw-normal ">
                <li >Dịch vụ gỡ đánh giá 1 sao cam kết 100% gỡ được và yêu cầu chuyển tiền trước (các maps tiệm nail mi hay gặp nhất). Khi biết bạn có nhu cầu xóa đánh giá 1 sao họ sẽ dụ dỗ lôi kéo để bạn bank tiền trước, khi không được thì sẽ phá maps và đánh giá 1 sao sau đó tiếp tục liên hệ bạn để gỡ 1 sao do chính họ review</li>
                <li>Dùng tài khoản fb ảo đăng bài nhận review với giá rẻ từ 6.000đ đến 12.000đ đều là lừa đảo, chuyển tiền là block</li>
                <li>Nhận nguồn review giá rẻ, không bảo hành => rồi đem đi bán giá cao hơn chút (có bảo hành 15 ngày đến 1 tháng ) lên review nhưng khi review bị mất hiển thị, khách cần bảo hành thì van xin như xin bố, còn nếu review bị mất hiển thị nhiều thì nó cho bạn vào ds hạn chế, 1 tuần, nửa tháng rep 1 lần. lý do này nọ dần bạn sẽ tự chán và bỏ.</li>
                <li>Nhận job, nhận tiền của khách, sau đó vào các hội nhóm thuê review rồi không trả tiền cho thành viên và bị thành viên nó quay sang review 1 sao phá Maps của bạn</li>
                <li>Nhận job của bạn. nhưng khi bạn đổi ý không làm, sẽ quay sang dọa phá maps bạn.</li>
                <li>Mảng nào cũng sẽ có lừa đảo hoạt động. hãy là người dùng thông minh. Mình hiểu time của các bạn là quý báo. đừng ham rẻ, không dc gì rồi vừa mất tiền vừa mang bực vào thân.</li>
            </ul>
            <p class=" fw-bold fs-14 text-danger ">LẤY LINK MAPS ĐỂ ODER:</p>
            <ul>
                <li class="fs-14"><b>Truy cập vào link: <a href="https://www.google.com/maps/" class="text-decoration-none">https://www.google.com/maps/</a> <span class="text-danger text-decoration-underline">Gõ tên doanh nghiệp</span> của mình, truy cập vào maps, và ấn nút <span class="text-danger text-decoration-underline">chia sẻ</span> => <span class="text-danger text-decoration-underline">sao chép đường liên kết</span> dùng link đó để oder nhé mn</b></li>
            </ul>
            <p class=" fw-bold fs-14 text-danger ">CƠ CHẾ HOẠT ĐỘNG:</p>
                <ul class="fs-14 mt-2  ">
                    <li>Nhà Q/c oder đơn <a href="/index" class="text-decoration-none fw-bold">review maps</a></li>
                    <li>Admin duyệt, phân phối lên cộng đồng
                        <ul>
                            <li>Các thành viên nhận job, làm và báo cáo.
                                <ul>
                                    <li>Admin check báo cáo,
                                        <ul>
                                            <li>Nếu review hiển thị thì update hoàn thành. (Nhà Q/c vào check, nếu k hiển thị thì ấn bảo hành.)</li>
                                            <li>Nếu review k hiển thị thì admin sẽ  update đơn về chế độ phân phối tiếp.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Vòng lặp như vậy cho đến khi done Job</li>
                </ul>
            <p class=" fw-bold fs-14 text-danger ">NHỮNG ĐIỀU CẦN LƯU Ý:</p>
            <ul class="fs-14 mt-2 ">
                <li>Bảo hành review 1 tháng.</li>
                <li>Review hiển thị web mới tính tiền.</li>
                <li>Không hỗ trợ rút tiền khi đã nạp vào web</li>
                <li>Quý khách tự oder và quản lý đơn</li>
                <!-- <li><span  class="fs-5 fw-bold text-danger">Nạp trên 5.000.000 lên nhà phân phối review giảm còn 18.000 / 1 review</span></li> -->
                <li><b th:text="${#numbers.formatDecimal(amount, 1, 'COMMA', 0, 'POINT')} + 'VND'"></b>  <b>/ 1 review </b>các thành viên sẽ tự nghĩ nội dung phù hợp để review cho maps</li>
                <li>Review từ người dùng thực, đa dạng vị trí, IP, thiết bị, lịch sử hoạt động.</li>
                <li>Đơn review sau khi oder sẽ được admin duyệt và phân phối đến các thành viên trong vòng 24h. time hoàn thành trung bình 5 đến 7 đến 14 ngày (tùy số lượng) web sẽ phân phối chạy sao cho review hiển thị tự nhiên nhất để tránh quét của google</li>
                <li>Khi đơn chạy, Maps có người review thì quý khách hãy like, và trả lời các bài đánh giá đó, để hạn chế và tránh bị tụt khi google quét.</li>
                <li>Review bị mất hiển thị, hãy ấn bảo hành. Các đơn bảo hành sẽ được hệ thống reset nội dung cũ, và thành viên sẽ tự tạo nội dung mới để review bảo hành cho khách.</li>
                <li>khi đã mua <a href="/index" class="text-decoration-none">đánh giá 5 sao google maps</a> trên <a href="/index" class="text-decoration-none">reviews.starup.vn</a> quý khách vui lòng không mua bên khác (và ngược lại) . Chúng tôi sẽ nhận về mình & chịu trách nhiệm bảo hành với mọi review 5* xuất hiện trong time chạy.</li>
                <li>Để xác định review đó có phải của web hay k thì các bạn có thể đọ time hoàn thành, và tên người thực hiện vs tên gmail review.(đúng 2 trong 2 dữ liệu đó là oke). thi thoảng check một số bị sai, hoặc thiếu do duyệt lỗi, nhận khiếu nại của thành viên nên đã check và + ấn hoàn thành.</li>
            </ul>
            <p class=" fw-bold fs-14 text-danger ">HƯỚNG DẪN CHECK BẢO HÀNH:</p>
            <ul  class="fs-14 mt-2 ">
                <li><b>B1:</b>Vô mục lịch sử đơn, Search, lọc toàn bộ review của maps cần check</li>
                <li><b>B2:</b>Mở maps xem toàn bộ review trong 30 ngày gần nhất.</li>
                <li><b>B3:</b>Coppy từng đoạn đầu của review trong lịch sử và Ctrl F tìm trong maps.
                    <ul>
                        <li>Review hiển thị thì oke.</li>
                        <li>Review bị mất thì quay sang lịch sử ấn bảo hành</li>
                    </ul>
                </li>
            </ul>
            <span class="fs-14"> <b>LƯU Ý:</b> Vui lòng check kỹ trước khi ấn bảo hành, không bấm bừa, không spam, Vì nút bảo hành sẽ bị mất khi bị admin từ chối bảo hành (review vẫn hiển thị)</span>
            <p class=" fw-bold fs-14 text-danger mt-3">CÁC TRẠNG THÁI ĐƠN NHÀ Q/C CẦN BIẾT</p>
            <ul  class="fs-14 mt-2 ">
                <li><b>Đang chờ: </b>Chờ admin duyệt.</li>
                <li><b>Đã lên lịch: </b>Đơn đã được lên lịch chờ phân phối</li>
                <li><b>Đang phân phối: </b>Đơn đang được phân phối</li>
                <li><b>Đang thực hiện: </b>Đơn đang được thực hiện bởi các thành viên</li>
                <li><b>Đã báo cáo: </b>Thành viên báo cáo đã làm, chờ admin check hiển thị</li>
                <li><b>Hoàn thành: </b>Review mà bạn oder đã hiển thị trên maps, vui lòng kiểm tra </li>
                <li><b>Đã Hoàn tiền: </b>Đơn nội dung review nhiều lần bị ẩn, admin đã hủy đơn và hoàn lại tiền cho bạn, vui lòng tạo đơn mới với nội dung review khác.</li>
            </ul>
        </div>
    </main>
    

   
  <div th:replace="~{User/Fragment/element :: inform}"></div>

   <div th:replace="~{User/Fragment/element :: footer}"></div>

    <script th:inline="javascript" >

    const basePrice = /*[[${amount}]]*/0;
    const priceDisplay = document.getElementById('priceDisplay');
    const numberInput = document.getElementById('numberInput');

    function updatePrice() {
        const quantity = parseInt(numberInput.value, 10) || 1;
        const totalPrice = basePrice * quantity;
        priceDisplay.textContent = totalPrice.toLocaleString('vn-VN') + ' VND';

    }

    numberInput.addEventListener('input', updatePrice);

    updatePrice();


    </script>
    <script src="/User/js/menu.js"></script>
</body>
</html>