<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOKEN</title>

	
   	<div th:replace="~{User/Fragment/element :: head}"></div>
</head>
<body class="bg-gray position-relative " style="height: 100vh;">
    <div class="login-form p-2 rounded bg-light border shadow d-flex justify-content-center align-items-center flex-column position-absolute start-50 top-50 translate-middle">
        <a href="/index"><img src="/User/image/logo.png" height="50px"></a>
        <h4 class="fw-bold">TOKEN</h4 >
        <div class="container border-top border-2 pt-4">
            <form method="post" action="/confirm-token" onsubmit="showLoading()">
            <span>Nhập mã token được gửi về Email của bạn</span>
            <input name="username" th:value="${username}" hidden>
                <div class="form-floating mb-3 ">
                    <input type="text" class="form-control" id="floatingInput" name="token" placeholder="token" required>
                    <label for="floatingInput">Token</label>
                  </div>
                 
                 <button id="loadingButton" class="btn btn-primary col-12" type="button" disabled style="display: none;">
  <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
  <span role="status">Loading...</span>
</button>
                <button  id="submitButton" type="submit" class="btn btn-primary col-12">Tiếp tục <i class="fa-solid fa-right-to-bracket"></i></button>
              </form>
             </div>
    </div>  
    <script>
    function showLoading() {
        // Ẩn nút submit
        document.getElementById('submitButton').style.display = 'none';
        // Hiển thị nút loading
        document.getElementById('loadingButton').style.display = 'block';
    }
</script>
    <div th:replace="~{User/Fragment/element :: inform}"></div>
    <script src="/user/js/password.js"></script>
</body>
</html>